<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>
                    コモジラ研究所とは、学生が主体となって活動するワークショップ団体です。
                    3 日間、1 週間など、一定の期間でテーマを設け、モノづくりの一連の流れを体験できます。
                </p>
                <p>
                    ワークショップでは、アイデア出しから 「作る」 → 「使う」 → 「作りなおす」 というサイクルを経て、実際に「使う」ことにも重きをおいたモノづくりを行います。成果物はウェブ上に公開するほか、Mozilla Japan オフィス内や外部の施設等で発表を行う機会も考えています。
                </p>
                <p>
                    モノづくりには、チューターの学生も加わります。参加者とチューターの距離が近いオープンな環境で、互いにモノづくりの技術を磨いていくことができるのです。そして一度モノづくりのプロセスを体験された参加者のみなさんには、次回からチューターの側へと移っていただくことを期待しています。
                </p>
                <p>
                    あなたも、自分の手で新しいモノをつくりだしていく面白さを体験してみませんか。
                    コモジラ研究所で、私たちと一緒にモノづくりを楽しみましょう！
                </p>
            </div>
        </div>
    </div>
</section>
