<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>
                  コモジラ研究所は、ワークショップコンテンツの企画・製作やワークショップの運営を行っている学生団体です。テクノロジーが好きな学生が集まり、Web の最新技術などを使ったワークショップコンテンツを自主的に開発しています。
                </p>
                <p>
                  2015年には、100以上のワークショップが集まる「ワークショップコレクション11」において、コモジラ研究所の「手作りプロジェクションマッピング！」が最優秀賞をいただきました。このように、独自のワークショップコンテンツの開発において成果を上げています。
                </p>
                <p>
                  過去には、WoT (Web of Things) や WebGL をテーマとした、数日間にわたるワークショップの開催も行いました。これらのワークショップは、参加者がモノづくりの一連の流れを体験できることが特徴です。チューターの学生も一緒にモノづくりに参加することで、相互の交流や技術力向上を促します。
                </p>
                <p>
                  これらのワークショップに関する情報は、他の方が同様のワークショップを実施する際の参考になるよう、Web 上に公開しています。
                </p>
            </div>
        </div>
    </div>
</section>
