<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contact</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>
                    お問い合わせは下記メールアドレスまでお願いいたします。
                </p>
                <p>
                    Email:
                    <a href="mailto:comozilla-all@mozilla-japan.org">comozilla-all@mozilla-japan.org</a>
                    ※ 現在、ワークショップについてたくさんのお問い合わせをいただいています。ご返答に時間がかかる場合がありますがご了承ください。
                </p>
            </div>
        </div>
    </div>
</section>
